@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-auto {
    scrollbar-width: thin; /* For Firefox */
  }
  
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background: #502116; /* Color of the scrollbar */
    border-radius: 4px;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over scrollbar */
  }