@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-brand-dark bg-brand-light antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
  .glass-dark {
    @apply bg-brand-dark/80 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

.overflow-y-auto {
    scrollbar-width: thin; /* For Firefox */
  }
  
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .overflow-y-auto::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background: #502116; /* Color of the scrollbar */
    border-radius: 4px;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over scrollbar */
  }